.h1{
  font-size: 2em;
  font-family: 'praise', sans-serif;
  }


body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
}

.footer {
    background-color: gray;
    background-size :; 
    padding: 20px;
}

nav ul {
    display: flex;      /* Hiển thị các mục trên một hàng */
    list-style: none;   /* Bỏ dấu chấm đầu dòng */
    padding: 0;
    margin: 0;
    gap: 20px;          /* Khoảng cách giữa các mục */
}

nav a {
    color: black;
}


